@charset "UTF-8";
/*comentario en sass y css*/
/*Paleta de colores*/
/*Tipografia*/
/*Tamaño de texto*/
/*Botones personalizados*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*General*/
body {
  background-color: #F4EDE4;
  font-family: "Poppins", sans-serif;
  color: #2F1B0C;
  padding-top: 70px;
}

a {
  text-decoration: none;
}

/*Header... texto "sobre mi" superpuesto: SOBRE queda arriba y Mi abajo*/
.bg-header {
  background-color: #d0b39f;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

.bg-header .nav-link {
  color: #2F1B0C;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.navbar .logo {
  max-width: 120px;
  height: auto;
}

.navbar-toggler {
  background-color: #d0b39f;
}

/*Hero*/
.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  background-color: #F4EDE4;
  flex-wrap: wrap;
}

.presentacion {
  text-align: center;
}

.presentacion h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #2F1B0C;
  margin-bottom: 10px;
}

.presentacion h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #2F1B0C;
  margin-bottom: 10px;
}

.hero img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px;
}

/*Botones*/
.btn-activo {
  background-color: #567572;
  color: #F4EDE4;
  border: 2px solid #567572;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

.btn-inactivo {
  background-color: #F4EDE4;
  color: #567572;
  border: 2px solid #F4EDE4;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #567572;
}

/*Sobre mi*/
.sobre-mi {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding: 80px 20px;
  background-color: #d0b39f;
  flex-wrap: wrap;
  margin: 0 auto;
}

.texto-sobre-mi {
  flex: 1 1 500px;
}

.texto-sobre-mi h2 {
  font-size: 2.5rem;
  color: #2F1B0C;
  text-align: center;
  margin-bottom: 20px;
}

.texto-sobre-mi p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
  color: #2F1B0C;
  margin-bottom: 15px;
}

.texto-sobre-mi p span {
  display: block;
}

.imagen-sobre-mi {
  flex: 1 1 350px;
  text-align: center;
}

.imagen-sobre-mi img {
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
}

/*Proyectos*/
.proyectos {
  min-height: 100vh;
  padding: 80px 20px;
  background-color: #F4EDE4;
}

.titulo-seccion {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #2F1B0C;
  font-family: "Poppins", sans-serif;
}

.card-proyecto {
  background-color: #fff;
  color: #6B4226;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 15px;
  border-radius: 15px;
  margin: 5px 15px;
}

.card-proyecto img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #6B4226;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.proyectos .card-proyecto img .card-img-top1 {
  width: 100%;
  max-width: 350px;
}

.card-body a {
  margin: 5px;
  display: inline-block;
}

/*Habilidades: background-color no ocupa todo el ancho de la pantalla*/
#habilidades {
  min-height: 100vh;
  background-color: #d0b39f;
  text-align: center;
  padding: 3rem 1rem;
}

#habilidades h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #2F1B0C;
  font-family: "Poppins", sans-serif;
}

.habilidades-item {
  font-weight: 600;
  color: #2F1B0C;
  text-align: left;
  margin-bottom: 1.5rem;
  max-width: 600px;
}

.habilidades p {
  margin: 0.5rem;
  font-weight: 600;
  color: #2F1B0C;
}

.progress {
  background-color: #F4EDE4;
  max-width: 600px;
}

.progress-bar {
  background-color: #2F1B0C;
}

/*Contacto: no puedo sacar el azul del link*/
#contacto {
  min-height: 100vh;
  background-color: #F4EDE4;
  text-align: center;
  padding: 3rem 1rem;
}

#contacto h2 {
  font-size: 2.5rem;
  color: #2F1B0C;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

#contacto a {
  color: #2F1B0C;
  text-decoration: none;
}
#contacto a:hover {
  color: #6B4226;
}

.contacto p {
  margin: 0.5rem;
  font-weight: 600;
  color: #2F1B0C;
}

.contacto i {
  margin-right: 8px;
  color: #6B4226;
}

/*Footer*/
footer {
  background-color: #6B4226;
  color: #F4EDE4;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}

/*Animaciones, transiciones,transformaciones y grandientes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.presentacion h1, h2 {
  animation: fadeInUp 1s ease-in-out forwards;
}

/*Grandientes en el Hero*/
.navbar {
  background: linear-gradient(to right, #d0b39f, rgb(241.5244755245, 233.2097902098, 227.4755244755));
}

/*Transition  en bnt*/
.btn-activo, .btn-inactivo {
  transition: all 0.3s ease-in-out;
}
.btn-activo:hover, .btn-inactivo:hover {
  transform: scale(1.05);
}

/*Transformacion: separar las cards y volver a ver la transformacion*/
.card-proyecto {
  transition: transform 0.3s ease;
}
.card-proyecto:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=styles.css.map */
