//palabras, variables que me permiten contener valores de propiedades//

/*Paleta de colores*/

$color-fondo: #F4EDE4;
$color-fondo-dos: #d0b39f;
$color-principal: #6B4226;
$color-secundario: #A47148;
$color-texto: #2F1B0C;
$color-acento: #D4A373;
$color-boton-activo: #567572; 
$color-boton-activo-texto: #F4EDE4;
$color-boton-inactivo: #F4EDE4; 
$color-boton-inactivo-texto: #567572;
$color-hover: #405B56;
$color-card: #fff;

/*Tipografia*/
$fuente-principal: "Poppins", sans-serif; 
$fuente-secundaria: "Roboto", sans-serif;

/*Tamaño de texto*/
$titulo-grande: 2.5rem;
$titulo-mediano: 1.5rem;


